@charset "utf-8";
@import "global.css";
/* comm: kinds of tag */
.g-property,
.g-value,
.g-code {margin: 0 5px;}
.g-property:before,
.g-property:after,
.g-value:before,
.g-value:after {font-family: Helvetica, arial, sans-serif;}
.g-property:before {content: "\2018"" ";}
.g-property:after {content: " ""\2019";}
.g-value:before {content: "\300c"" ";}
.g-value:after {content: " ""\300d";}
.g-value,
.g-code {display:inline;border-radius:3px;background-color:#eee;}
.g-code {padding:0 3px;}
/* layout */
#guide{position:relative;z-index:2;padding:5px 20px;border-bottom:1px solid #ddd;background:#eee;text-align:left;}
#hd{position:relative;z-index:1;margin:5px 10px;color:#0382AD;text-align:left;}
#bd{margin:0 10px;text-align:left;}
#ft{margin-top:15px;padding:5px 20px;border-top:1px solid #DDDDDD;background-color:#FBFBF9;text-align:left;}
/* comm: g-btn */
.g-btn{overflow:visible;border-radius:3px;cursor:pointer;}
.g-btn-sure,.g-btn-copy{height:31px;padding:3px 20px;color:#fff;font-size:14px;text-shadow:1px 1px 1px rgba(0,0,0,.3);}
.g-btn-sure{border:1px solid #0382AD;background-color:#45B5DA;background:-webkit-linear-gradient(#45B5DA,#0382AD);background:linear-gradient(#45B5DA,#0382AD);}
.g-btn-sure:hover{background-color:#4bc4ec;background:-webkit-linear-gradient(#4bc4ec,#0494c5);background:linear-gradient(#4bc4ec,#0494c5);}
.g-btn-sure:active{background-color:#45B5DA;background:-webkit-linear-gradient(#0382AD,#45B5DA);background:linear-gradient(#0382AD,#45B5DA);}
.g-btn-copy{margin-left:20px;border:1px solid #4aa005;background-color:#6fb934;background:-webkit-linear-gradient(#6fb934,#458611);background:linear-gradient(#6fb934,#458611);}
.g-btn-copy.hover,
.g-btn-copy:hover{background-color:#5fa924;background:-webkit-linear-gradient(#67b727,#5fa924);background:linear-gradient(#67b727,#5fa924);}
.g-btn-copy:active{background-color:#548d27;background:-webkit-linear-gradient(#548d27,#6fb934);background:linear-gradient(#548d27,#6fb934);}
/* comm: gitem */
.gitem{padding:0 2em;}
ul.gitem{list-style-type:disc;}
ol.gitem{list-style-type:decimal;}
.gitem li{padding-bottom:10px;}
.gitem li .version{zoom:1;}
.gitem li:target .gquote{border-color:#FBACAC;box-shadow:0 0 5px rgba(255,0,0,.5);}
/* comm: gquote */
.gquote{margin:10px;border:1px solid #C3E1FF;}
.gquote-tit{padding:3px 10px;background:#DDEEFF;}
.gquote-cont{zoom:1;overflow:hidden;padding:10px;border-top:1px solid #C3E1FF;}
.gquote-cont .img{float:left;margin-right:15px;text-align:center;}
.gquote-cont .code{zoom:1;overflow:hidden;}
.gquote-cont code,
.gquote-cont xmp{margin:0;font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;}
.gquote-cont li{padding:5px;border-top:1px solid #DDEEFF;}
.gquote-cont li.first{border-top:0 none;}
.gquote-cont textarea{width:100%;height:auto;border:none;}
.gquote-info{padding:3px 10px;border-top:1px solid #C3E1FF;background:#F3F9FF;color:#c30;}
.gquote-warning,
.gquote-warning .gquote-cont,
.gquote-warning .gquote-info{border-color:#fa5a5a;}
.gquote-warning .gquote-tit{background:#fcaaaa;}
.gquote-warning .gquote-info{background:#fee2e2;}
/* comm: g-list */
.g-list li{float:left;width:186px;}
/* comm: g-data */
.g-data thead th{background:#def;text-align:center;}
.g-data thead th:not(:first-child){_width:60px;max-width:60px;}
.g-data td strong{display:block;}
.g-data th,.g-data td{position:relative;padding:5px;border-collapse:collapse;border:1px solid #ccc;line-height:1.3;empty-cells:hide;}
.g-data td{padding:10px 5px;}
.g-data tbody tr:hover{background:#F3F9FF;}
.g-data td.no{color:#999;font-size:14px;}
.g-data .browser-ie,.g-data .browser-firefox,.g-data .browser-chrome,.g-data .browser-safari,.g-data .browser-opera{display:block;overflow:hidden;height:32px;padding-left:40px;background:url(browser.png) no-repeat;line-height:32px;}
.g-data .browser-firefox{background-position:0 -33px;}
.g-data .browser-chrome{background-position:0 -66px;}
.g-data .browser-safari{background-position:0 -99px;}
.g-data .browser-opera{background-position:0 -132px;}
.g-data .fix{position:absolute;top:0;right:0;padding:0 3px;border-radius:0 0 0 3px;background-color:#f90;color:#000;white-space:nowrap;line-height:1;}
/* comm: g-attr */
.g-attr .tit{padding:0 10px;background:#F3F3F3;font-size:14px;line-height:2;}
.g-attr .cont{padding:10px;color:#666;}
.g-attr .cont h3 a{margin-right:10px;color:#008000;}
.g-attr .cont h3 a:hover{color:#c30;}
.g-attr .cont p{padding-top:3px;padding-bottom:3px;}
.g-attr .related{padding:0 10px;}
.g-attr sup{font-weight:normal;font-size:12px;}
.g-attr .gitem li{padding-bottom:5px;}
.g-attr .gitem2 li{padding-bottom:5px;}
.g-attr .support-type{zoom:1;overflow:hidden;}
.g-attr .support-type li{float:left;padding:0 10px 10px 10px;}
.g-attr .support-type li span{display:inline-block;overflow:hidden;width:25px;height:14px;font-size:0;line-height:0;color:rgba(0,0,0,0);vertical-align:middle;}
.g-attr .support-info{list-style-type:decimal;padding:10px 2em 0 2em;}
.g-attr .support-info li:target{background-color:#fff2bf;text-shadow:1px 1px 1px rgba(255,255,255,.5);}
.g-attr .support{background:#90FF90;}
.g-attr .unsupport{background:#FF9090;}
.g-attr .partsupport{background:#fdd;}
.g-attr .unknown{background:#ccc;}
.g-attr .experimentsupport{background:#f90;}
.g-attr xmp{white-space:pre-wrap;}
/* comm: g-browser(test browser) */
.g-browser p{zoom:1;overflow:hidden;color:#333;}
.g-browser ul{float:right;}
.g-browser li{float:left;padding-left:5px;}
/* comm: g-about */
.g-about{padding:0 10px;}
.g-about h2{font-size:14px;line-height:2;}
.g-about li .version h3{display:inline;padding-right:20px;}
.g-about li .version time{color:#666;font-size:12px;}
.g-about ul,.g-about ol,.g-about dl,.g-about .note{padding:0 2em;}
/* module: guide */
#guide{margin-top:0;}
#guide .from{float:left;padding-top:2px;}
#guide .to{float:right;width:160px;}
#guide .to .label{display:none;}
/* module: title */
#title{min-height:69px;_height:69px;margin-top:0;}
#title .tit{float:left;padding-left:10px;font-size:25px;font-family:arial;text-shadow:1px 1px 0 rgba(255,255,255,1),1px 1px 2px rgba(0,0,0,.3);}
#title .copylink{display:inline;float:left;overflow:hidden;height:19px;margin-top:10px;padding-left:15px;background:url(ico.png) no-repeat 0 -40px;}
#copylink.hover{color:#C30;text-decoration:underline;}
#title .share{display:inline;float:left;position:relative;margin:8px 15px 0 15px;}
#title .share .target{padding-right:16px;border:1px solid #0382AD;box-shadow:none;background-color:#45B5DA;background:linear-gradient(#45B5DA,#0382AD);color:#fff;white-space:nowrap;}
#title .share .target span{background:none;}
#title .share .list{width:100px;}
#title .share .list ul{_height:auto;border-color:#0382AD;}
#title .share:hover .list,#title .share.on .list{height:125px;}
#title .share li a{padding-left:30px;background:#fff url(ico.png) no-repeat;}
#title .share li a:hover{background-color:#45B5DA;}
#title .share li .weibo{background-position:8px -63px;}
#title .share li .txweibo{background-position:8px -107px;}
#title .share li .qq{background-position:8px -85px;}
#title .share li .renren{background-position:8px -129px;}
#title .share li .douban{background-position:8px -151px;}
#title .info{float:right;padding:15px 10px 0 0;color:#666;}
#title .info li{float:left;padding-left:10px;}
#title .g-browser{clear:both;min-height:22px;_height:22px;padding:2px 10px;border-top:1px solid #4E6B33;background:#C3E1FF;}
/* module: related */
#related{padding:8px 10px;border-top:1px solid #ddd;}
/* module: syntax */
#syntax *:target{background-color:#FFF8DD;text-shadow:1px 1px 1px rgba(255,255,255,.5);}
#syntax strong{font-weight:bold;}
#syntax .defaultvalue{padding:1px 5px;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,.3);background-color:#999;color:#fff;}
#syntax ins:after,#syntax del:after{position:relative;top:-6px;margin-left:3px;padding:0 3px;border-radius:3px;box-shadow:0 1px 2px rgba(0,0,0,.3);color:#fff;content:attr(title);font-size:10px;text-transform:lowercase;}
#syntax ins[title^="css"]:after{background-color:#f60;}
#syntax del[title^="ie"]:after{background-color:#999;}
#syntax .sharing{margin-top:10px;}
/* module: value */
#value dl{zoom:1;overflow:hidden;}
#value dt{clear:left;float:left;font-weight:bold;}
#value dt.css3-value{color:#f60;}
/* module: intro */
#intro ul{list-style-type:disc;padding:0 2em;}
/* module: example */
#example textarea{overflow:auto;margin-bottom:10px;border:1px solid #ddd;width:95vw;height:60vh;max-width:100%;}
/* module: about-vita */
#about-vita li{zoom:1;overflow:hidden;}
#about-vita li strong{float:left;width:155px;}
#feedback .feedback-result{padding-left:10px;color:#c30;}
#read-guides .level-type li{margin-bottom:10px;padding-bottom:0;}
/* module: rights */
#rights{margin-top:0;}
#rights .copyright{color:#888;font-size:10px;font-weight:bold;}
#rights .copyright a{color:#888;}
/* module: welcome */
#welcome{position:absolute;top:50%;left:50%;width:200px;margin:-100px 0 0 -100px;text-align:right;text-shadow:0 0 5px rgba(0,0,0,.2);}
#welcome h1{line-height:1;font-size:18px;}
#welcome .subtit{color:#999;font-size:12px;}
#welcome .author{padding-top:10px;color:#c00;}
#welcome .online{padding:5px 0 0 0;}
/* module: change-list */
#change-list li{margin-top:10px;border:1px solid #ddd;}
#change-list li li{margin-top:0;padding-bottom:0;border:0 none;}
#change-list .version h3{display:inline;padding-right:20px;}
#change-list .version time{color:#666;font-size:12px;}
#change-list .version{padding:3px 10px;background:#DDEEFF;}
#change-list .detail{zoom:1;overflow:hidden;padding:10px;border-top:1px solid #C3E1FF;background:#fff;}
#change-list .new{border-color:#FBACAC;box-shadow:0 0 5px rgba(255,0,0,.5);}
.global-zeroclipboard-container * {
    display: block;
}