@charset "utf-8";
@import "global.css";
/* Layout */
html,body{overflow:hidden;}
html{_padding:90px 0 10px;}
body{height:100%;}
#main,#side,#about{border:1px solid #ccc;background:#f9f9f9;-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3);}
#hd{position:absolute;z-index:3;top:0;right:0;left:0;width:100%;height:80px;background:#0382AD url(r_x.png) repeat-x;background:-moz-linear-gradient(center top,#45B5DA,#0382AD);background:-webkit-gradient(linear,center top,center bottom,from(#45B5DA),to(#0382AD));}
#bd{position:absolute;_position:relative;z-index:1;top:90px;_top:auto;right:0;bottom:10px;_bottom:auto;left:0;_height:100%;margin:0 10px;}
#side{position:absolute;top:0;bottom:0;left:0;overflow:auto;float:left;width:270px;_height:100%;-webkit-overflow-scrolling:touch;}
#main{position:absolute;_position:static;top:0;right:0;bottom:0;left:280px;overflow:auto;_height:100%;_margin-left:280px;background:#fff;}
#main #content{_position:relative;_overflow:auto;_width:100%;_height:100%;}
#main #content iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#ft{position:absolute;z-index:3;right:0;bottom:0;left:0;width:100%;height:40px;}
#ft #about{height:28px;margin:0 10px 10px;text-shadow:0 0 5px rgba(0,0,0,.2);line-height:2.2;}
/* module: mashead */
#mashead{margin-top:0;}
#mashead .sitename{display:inline;float:left;margin:15px 20px 0 40px;}
#mashead .sitename h1{color:#fff;font-size:32px;line-height:1;text-shadow:1px 1px 0 rgba(0,0,0,1),1px 1px 5px rgba(255,255,255,.8);}
#mashead .sitename h2{color:#333;font-weight:normal;text-shadow:1px 1px 0 rgba(255,255,255,.3),1px 1px 5px rgba(0,0,0,.1);}
#mashead .related{float:right;padding:46px 10px 0 0;}
#mashead .related .nav{float:left;}
#mashead .related .nav li{float:left;position:relative;text-shadow:0 1px 0 rgba(0,0,0,.3);}
#mashead .related .nav .version{padding:0 6px;color:#9ED55E;}
#mashead .related .nav .download{*margin-top:1px;_margin-top:4px;padding:0 6px;}
#mashead .related .nav .contribute{padding:0 6px;}
#mashead .related .nav li li{float:none;padding:0;white-space:nowrap;}
#mashead .related .g-combobox .target{padding-right:25px;_padding:1px 26px 1px 1px;border-color:transparent;_border:0 none;background:none;box-shadow:none;}
#mashead .related .g-combobox .target strong{padding:0 0 0 5px;}
#mashead .related .g-combobox .target span{background:none;}
#mashead .related .g-combobox:hover .target,#mashead .related .on .target{_padding:0 25px 0 0;_border:1px solid #026E93;border-color:#026E93;box-shadow:0 0 5px rgba(0,0,0,.3);background:#45B5DA;}
#mashead .related .g-combobox .list{right:0;left:auto;width:125px;}
#mashead .related .g-combobox .list ul{_height:auto;border-color:#0382AD;background:#45B5DA;}
#mashead .related .g-combobox .list a{background-color:#45B5DA;}
#mashead .related .g-combobox .list a:hover{background:#0382AD;}
#mashead .related .g-combobox:hover .list,#mashead .related .g-combobox.on .list{height:78px;}
#mashead .related a{color:#fff;}
/* module: navigation */
#navigation{margin-top:0;padding:8px;}
/* module: about */
#about{margin-top:0;}
#about .copyright{float:left;padding:0 10px;color:#666;font-style:italic;font-weight:bold;font-family:Georgia;}
#about .origin,#about .related{float:right;padding:0 10px;}
#about a{color:#16387C;font-weight:bold;}
/* module: contribute(popup) */
#contribute{width:410px;}
#contribute .g-popup-bd ul{position:absolute;z-index:3;width:350px;height:130px;padding:10px 15px;}
#contribute .g-popup-bd p{position:absolute;z-index:3;top:130px;left:25px;}
#contribute .g-popup-bd img{position:absolute;z-index:4;top:20px;right:20px;}
#contribute .becauseofyou{position:absolute;z-index:1;top:35px;left:0;overflow:hidden;width:400px;color:#f8f8f8;font-weight:bold;font-style:italic;font-size:60px;white-space:nowrap;}